<!-- templates/description.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Description of the Project</h1>
<p>Description of tweet generator project coming soon</p>
<p>More info below</p>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Resources
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="https://github.com/Jeromeschmidt/tweet-gen">Github</a></li>
    <li><a href="https://github.com/Jeromeschmidt/CS-1.2-Intro-Data-Structures">Other Github Resource</a></li>
  </ul>
</div>
{% endblock %}
