<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}
<center>
    <h1>placeholder Tweet Generator</h1>
    <p>{{ sentence }}</p>
    <br>
        <div class='form-group' action="/">
            <button class='btn btn-primary' data-toggle="tooltip" data-placement="top" title="New Tweet?" onClick="window.location.reload()">New Tweet</button>
        </div>
        <form action="/{{ sentence }}" method="post">
            <!-- <a -->
            <button class='btn btn-primary' data-toggle="tooltip" data-placement="top" title="Save this Tweet?"onclick="window.location='/{{ sentence }}'">Save Tweet</button>
            <!-- </a> -->
            <script>
                $(document).ready(function(){
                  $('[data-toggle="tooltip"]').tooltip();
                });
            </script>
        </form>
        <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

          <!-- Modal -->

</center>


{% endblock %}
